$color_main: #043376;
$color_content: #f7f7f7;
$color_yellow: #f1de0e;
$color_green: #29481d;
$color_darkgreen: #063d08;

$font_sans: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
$font_serif: 'Georgia', 'Times New Roman', 'Times CY', 'Century Schoolbook L', serif;

$content_margin: 15px;
