@import "_variables.scss";
@import "_mixins.scss";
@import "_reset.scss";
@import "_icons.scss";
@import "_common.scss";
@import "_responsive.scss";


.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .grid__left,
  .grid__right {
    width: calc(50% - 15px);
  }
}

.title__block {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.header {
  background-image: url(../images/jpg/bg-main.jpg);
  background-repeat: no-repeat;
  position: relative;
  padding: 70px 0px;
  color: #fff;
  background-position: center;
  background-size: cover;
  .container {
    position: relative;
    z-index: 2;
  }
  &__title {
    font-size: 113px;
    letter-spacing: 3px;
  }
  &__sub-title {
    font-size: 64px;
    font-weight: 400;
  }
  .logo {
    margin-bottom: 50px;
  }
}

.main-txt {
  padding: 106px 0px 181px 0px;
  color: $color_main;
  p {
    font-size: 50px;
  }
}

.content__blocks {
  padding-top: 143px;
  padding-bottom: 80px;
  .grid {
    &__left {
      position: relative;
      width: calc(47% - 15px);
    }
    &__right {
      width: calc(53% - 15px);
    }
  }
  .logo__bg {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-56%, 0%);
    width: 135%;
    max-width: none;
  }
  &-txt {
    padding: 62px 0px;
    &:last-child {
      padding-bottom: 67px;
    }
    h3 {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 45px;
      &.mt {
        margin-top: 45px;
      }
    }
    p,
    ul li{
      font-weight: 400;
      font-size: 27px;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    ul {
      list-style-type: none;
      li {
        position: relative;
        padding-left: 30px;
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          top: 12px;
          left: 5px;
          border-radius: 50%;
          background: $color_main;
          position: absolute;
        }
      }
    }
    a {
      font-weight: bold;
      text-decoration: none;
      color: $color_main;
    }
  }
}

.tabs {
  color: #fff;
  padding-bottom: 20px;
  .title__block {
    color: $color_main;
  }
  &__block {
    &-control {
      &-list {
        display: inline-flex;
        list-style-type: none;
      }
      &-item {
        width: auto;
        min-width: 445px;
        font-size: 30px;
        background: #5C9AD4;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 0px 50px;
        cursor: pointer;
      }
    }
    &-grid {
      display: flex;
      &-left {
        width: 100%;
        p {
          font-size: 28px;
          line-height: 30px;
          margin-bottom: 20px;
          font-weight: 400;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
      &-right {
        width: 50%;
        max-width: 545px;
        flex-shrink: 0;
        margin-left: 30px;
      }
    }
  }
  &__content {
    padding: 95px 77px 71px 94px;
  }
  .toogles__item-title--active {
    background: $color_main;
  }
}

.more {
  color: #fff;
  padding-bottom: 70px;
  .grid {
    background: $color_main;
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 58px;
      h2 {
        font-size: 50px;
        margin-bottom: 10px;
        font-weight: bold;
      }
      span {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    &__right {
      .img-wrap {
        min-height: 387px;
      }
    }
  }
}

.form {
  padding: 70px 0px;
  .inputs__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    input {
      width: calc(50% - 65px);
    }
  }
  input,
  textarea {
    font-size: 21px;
    color: $color_main;
    border-radius: 15px;
    border: 3px solid $color_main;
    height: 60px;
    padding: 0px 23px;
    font-weight: 400;
    &::placeholder {
      color: $color_main;
    }
  }
  textarea {
    height: 166px;
    padding-top: 15px;
    width: 100%;
    resize: none;
  }
  .btn {
    border-color: $color_main;
    color: $color_main;
    background: transparent;
    display: block;
    margin-left: auto;
    cursor: pointer;
    &:hover {
      background: $color_main;
      color: #fff;
    }
  }
}

.footer {
  background-image: url(../images/jpg/footer-bg.jpg);
  background-repeat: no-repeat;
  position: relative;
  padding: 70px 0px 40px;
  color: #fff;
  background-position: center;
  background-size: 100% auto;
  position: relative;
  display: block;
  height: auto;
  .overlay {
    position: absolute;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &__title {
    font-size: 64px;
    font-weight: bold;
  }
  .grid {
    &__left {
      display: flex;
      flex-direction: column;
    }
  }
  &__sub-title {
    font-size: 45px;
    margin-bottom: 43px;
  }
  &__link {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    &:hover {
      opacity: 0.7;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    img {
      margin-right: 16px;
    }
  }
  &__logo {
    height: 100%;
    display: block;
    margin-left: auto;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-decoration: none;
  padding: 0px 38px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 15px;
  transition: all 0.5s;
  &:hover {
    color: $color_main;
    background: #fff;
  }
}

.overlay {
  background: rgba(4, 51, 118, 0.52);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.img-wrap {
  width: 100%;
  height: 100%;

  > div {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) transform;
    }
  }
}

